<div class="jumbotron">
  <h1>Bloccitoff</h1>
  <p>A self-destructing to-do list to keep you focused on what matters most.</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
  </p>
</div>