<div class="jumbotron", align=center>
  <div class="container">
  <h1>Bloccitoff</h1>
  <p>A self-destructing to-do list to keep you focused on what matters most.</p>
  <p>
    <% if current_user %>
    <span class="glyphicon glyphicon-ok"></span>
    <span class="glyphicon glyphicon-ok"></span>
    <span class="glyphicon glyphicon-ok"></span>
    <% else %>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
    <%end%>
  </p>
</div>
</div>