<h1 class="text-center">My List</h1>

<div class="container-fluid">
<table class="table table-hover table-bordered table-condensed">
 <thead>
  <tr>
    <th class="col-sm-3 text-center"> Description <span class="glyphicon glyphicon-pencil"></span></th>
    <th class="col-sm-1 text-center"> Days left <span class="glyphicon glyphicon-time"></span></th>
    <th class="col-sm-1 text-center"> Complete <span class="glyphicon glyphicon-ok"></span></th>
  <tr/>
 </thead>
  <% @todos.each do |todo| %>
 <tbody>
  <tr>
    <td><%= todo.description %></td>
    <!-- time left in days = (sec in wk) - (time now - time created)) / sec in day -->
    <% time_left = (604800 - (Time.now - todo.created_at)) / 86400 %>
    <td class= "text-center"><%= time_left.round(1) %></td>
    <td class="text-center">
    <input type="checkbox" onclick="window.location='<%=todo_path(todo)%>';"/>
    </td>
  </tr>
 </tbody>
  <% end %>
</table>
</div>

<div class="text-center">
  <%= link_to "Create a new todo", new_todo_path %>
</div>
