<h2>New Todo</h2>

<div class="row">
  <div class="col-md-3">

    <%= form_for @todo do |form| %>
      <div class="form-group">
        <%= form.text_field :description, class: 'form-control',placeholder: 'Description' %>
      </div>
        <%= form.submit 'Save', class: 'btn btn-info' %>
    <% end %>

  </div>
</div>