//= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"

@import "bootstrap";

.user-info {
  margin-top: 10px;
}

.nav {
  margin-top: 5px;
  color: #1F1C54;
}

body {
    background-color: #eeeeee;
}

/*Table custom CSS*/
.table {
  width: 60%;
  margin-top: 50px;
  color: #1F1C54;
  background-color: #ffffff;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 3px solid #eeeeee;
}

.table > tbody + tbody {
  border-top: 1px solid #eeeeee;
}


/*Jumbotron custom boostrap CSS*/
.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: #1F1C54;
  background-color: #ffffff;
  width: 50%;
  margin-top: 30px;
}

.jumbotron h2,
.jumbotron .h2 {
  color: #1F1C54;
  font-size: 40px;
  font-weight: 500;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
  color: #1F1C54;
}
.container .jumbotron {
  border-radius: 50px;
}
.jumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
}

/*Badge custom CSS*/
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 5px 9px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #1F1C54;
  border-radius: 10px;
  margin-top: 10px;
}
.badge:empty {
  display: none;
}
.btn .badge {
  position: relative;
  top: 10px;
}
.btn-xs .badge {
  top: 0;
  padding: 1px 5px;
}
a.badge:hover,
a.badge:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

/*Button custom CSS*/
/*.btn-info {
  color: #ffffff;
  background-color: #ABC3E3;
  border-color: #ABC3E3;
}

.btn-primary {
  color: #ffffff;
  background-color: #668FCC;
  border-color: #668FCC;
}*/
